
img {
  width: 100%;
  height: auto;
}
.map {
  width: 964px;
}
.num1 {
  position: absolute;
  left: 25%;
  bottom: 20%;
}
.num2 {
  position: absolute;
  left: 285px;
  bottom: 140px;
}
.num3 {
  position: absolute;
  left: 280px;
  bottom: 207px;
}
.num4 {
  position: absolute;
  left: 363px;
  bottom: 235px;
}
.num10 {
  position: absolute;
  left: 340px;
  top: 220px;
}
.num11 {
  position: absolute;
  left: 385px;
  top: 185px;
}
.num12 {
  position: absolute;
  left: 403px;
  top: 150px;
}
.num13 {
  position: absolute;
  left: 545px;
  top: 85px;
}
.num14 {
  position: absolute;
  left: 612px;
  top: 90px;
}
.num15 {
  position: absolute;
  left: 700px;
  top: 109px;
}
.num16 {
  position: absolute; 
  left: 765px;
  top: 135px;
}
/* Tooltip container */
.tooltip {
  display: inline-block;
}
/* Show tooltip text when hover over container */ 
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.tooltip:hover .tooltiptext2 { visibility: visible;}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  left: 105%
  /* Position the tooltip text */
  /*position: absolute;
  z-index: 1;
 */  }
 .tooltip .tooltiptext1::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

